params {
  inputFile = "$baseDir/data/input.tsv"
  outputDir = "$launchDir/output"
  ebiFtpUser = ""
  ebiFtpPassword = ""
}

process {
  container = 'rdemko2332/checkforupdate'
}

docker {
    enabled = true
    runOptions = "-v /home/rdemko/workspace/djob/OrthoMCLCheckForUpdate/data/storage/:/storage/"
}